@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Theme Tokens */

@theme {
  --color-background: #0f0f0f;
  --color-surface: #181818;

  --color-primary: #ffffff;
  --color-secondary: #a0a0a0;
  --color-tertiary: #d4af37;

  --color-accent: #d4af37;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;

  --container-content: 1440px;
}

/* Global Styles */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-primary;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

a {
  @apply transition-all duration-300;
}

::selection {
  background: #d4af37;
  color: black;
}

.nav-link {
  @apply px-4 py-2 rounded-md transition-colors hover:bg-accent/10 hover:text-accent;
}

.workshop-content {
  justify-content: center;
}

.workshop-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.workshop-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.workshop-content h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.workshop-content p {
  margin-bottom: 1rem;
  line-height: 1.75;
}

.workshop-content ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
  list-style: disc;
}

.workshop-content li {
  margin-bottom: 0.5rem;
  list-style: disc;
}
