---
import { getCollection } from "astro:content";
import WorkshopCard from "../../components/WorkshopCard.astro";
import MainLayout from "../../layout/MainLayout.astro";
import { getAllWorkshops } from "../../lib/workshops";

const workshops = await getCollection("workshops");
const workshopDetails = await getAllWorkshops();

workshops.sort(
  (a, b) => new Date(a.data.date).getTime() - new Date(b.data.date).getTime(),
);
---

<MainLayout
  title="Workshops - Through Indonesia"
  description="Upcoming workshops in Indonesia"
>
  <div class="p-4 flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-4 text-accent">Workshops</h1>
  </div>

  <div class="p-4">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 items-stretch"
    >
      {
        workshops.map((workshop) => (
          <WorkshopCard
            workshop={workshop}
            workshopDetails={workshopDetails?.find(
              (w) => w.slug === workshop.data.slug,
            )}
          />
        ))
      }
    </div>
  </div>
</MainLayout>
