---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  href?: string;
  variant?: "primary" | "secondary";
  type?: "button" | "submit" | "reset";
}

const {
  href,
  variant = "primary",
  type = "button",
  class: className,
  ...attrs
} = Astro.props;

const variants = {
  primary: "bg-accent text-black",
  secondary: "border border-primary text-primary",
};
---

{
  href ? (
    <a
      {...attrs}
      href={href}
      class={`
    inline-flex
    items-center
    justify-center
    px-8
    py-4
    rounded-full
    font-semibold
    transition-all
    duration-300
    hover:scale-105
    ${variants[variant]}
    ${className ?? ""}
  `}
    >
      <slot />
    </a>
  ) : (
    <button
      {...attrs}
      type={type}
      class={`
    inline-flex
    items-center
    justify-center
    px-8
    py-4
    rounded-full
    font-semibold
    transition-all
    duration-300
    hover:scale-105
    hover:bg-accent
    hover:text-black
    hover:border-0
    ${variants[variant]}
    ${className ?? ""}
  `}
    >
      <slot />
    </button>
  )
}
