---
interface Props {
  image: {
    url: string;
    filename: string;
  };
  title: string;
}

const { image, title } = Astro.props;

import { responsiveImage } from "../lib/transformedImage";

const imageOptimized = responsiveImage(image.url, [200, 300, 400, 500]);
---

<div class="overflow-hidden group">
  <div class="w-full overflow-hidden aspect-square">
    <img
      src={imageOptimized.src}
      srcset={imageOptimized.srcset}
      alt={title}
      loading="eager"
      decoding="auto"
      fetchpriority="high"
      class="w-full
        h-full
        object-cover
        transition-transform
        duration-300
        group-hover:scale-105"
    />
  </div>

  <div
    class="text-lg
      font-bold
      m-2
      transition-colors
      duration-300
      group-hover:text-tertiary"
  >
    {title}
  </div>
</div>
