---
import Container from "./ui/Container.astro";
---

<footer class="mt-32
  border-t
  border-white/10">
  <Container>
    <div
      class="py-10
      flex
      flex-col
      md:flex-row
      justify-between
      gap-4"
    >
      <p>© 2026 Through Indonesia</p>

      <div class="flex
        gap-6">
        <a href="#"> Instagram </a>

        <a href="#"> Facebook </a>

        <a href="#"> Email </a>
      </div>
    </div>
  </Container>
</footer>
